{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
<section class="pro">
    <div class="container">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 review">
                <h4>L'avis</h4>
                <p>{{reviewrepair.review}}</p>
                <small>{{ reviewrepair.dateReview|date('d-m-y') }}</small>
                <br><br>
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <input type="hidden" value="{{ reviewrepair.id  }}" name="id">
                <input type="hidden" value="repair" name="type">
                {{ form_row(form.message) }}
                <button type="submit" class="btn btn-default center-block btn-send">
                    Envoyer
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}