{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
<section class="pro">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 class="text-center">Modifier profil</h2>
                <hr class="pro-review-underline">
                <!-- Back to main page -->
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-2">
                        <a href="{{ path('user_establishments', {'pro': pro.id, 'user': user.id}) }}">
                            <i class="icon-back fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}
                    <div class="card">
                        <div class="card-image">
                            <img class="img-responsive" src="{{ asset('img/garage.jpg') }}">
                        </div><!-- card image -->
                        <div class="card-content">
                            <span class="card-title">
                                Nom de la societé: {#{{ pro.dealerName }}#}
                            </span>
                        </div><!-- card content -->
                        <!-- Modify info about establishment -->
                        <div class="card-action">
                            <ul>
                            <!-- Company's name & Siret shouldn't be able to be changed by the user -->
                                <li><p>Type: {{ form_row(edit_form.dealertype) }}</p></li>
                                <li><p>Addresse: {{ form_row(edit_form.address) }}</p></li>
                                <li><p>Code Postal: {{ form_row(edit_form.postalCode) }}</p></li>
                                <li><p>Ville: {{ form_row(edit_form.city) }}</p></li>
                                <li><p>E-mail: {{ form_row(edit_form.email) }}</p></li>
                                <li><p>Téléphone: {{ form_row(edit_form.phone) }}</p></li>
                                <li><p>Description: {{ form_row(edit_form.description) }}</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="col-xs-12 text-center">
                        <label class=" control-label" for="filebutton">Ajoutez une photo de votre établissement </label>
                        <div>
                            <input id="filebutton" name="filebutton" class="input-file center-block" type="file"
                                   accept=".jpg, .png, .jpeg">
                            <br>
                            <span class="help-block">Formats de fichiers acceptés: JPG, JPEG, PNG.</span>
                        </div>
                    </div>
                    {{ form_widget(edit_form._token) }}
                    {{ form_row(edit_form.save) }}
                    {{ form_end(edit_form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
