{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
    <section class="pro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="text-center">Mon profil</h2>
                    <hr class="pro-review-underline"><br>
                    <!-- Back to main page -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-2">
                            <a href="{{ path('user') }}">
                                <i class="icon-back fa fa-chevron-left fa-1x" aria-hidden="true"></i> </i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="card">
                                <!-- Avatar utilisateur -->
                                <span class="user-avatar">
                                    <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                </span>
                                <!-- Title -->
                                <div class="card-content">
                                        <span class="card-title">{{ user.firstName ~ " " ~ user.lastName }}</a></span>
                                </div>

                                <!-- Info about user -->
                                <div class="card-action">
                                    <ul>
                                        <li><p>Prénom: {{ user.firstName }}</p></li>
                                        <li><p>Nom: {{ user.lastName }}</p></li>
                                        <li><p>Nom d'utilisateur: {{ user.userName }}</p></li>

                                        {# Using "default" Twig filter to set default value if it's undefined or empty#}
                                        <li><p>Date de naissance: {{ userProfile.birthdate|default('') }}</p></li> #}
                                        <li><p>Genre: {{ user.gender}}</p></li>
                                        <li><p>Adresse: {{ userProfile.address|default('') }}</p></li>
                                        <li><p>Code postal: {{ userProfile.postalCode|default('') }}</p></li>
                                        <li><p>Ville: {{ userProfile.city|default('') }}</p></li>
                                        <li><p>E-mail: {{ user.email }}</p></li>
                                        <li><p>Téléphone: {{ userProfile.phone|default('') }}</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        <a href="{{ path('user_edit') }}"
                           class="btn btn-default center-block btn-send">
                            Modifier profil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
