{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
    <section class="pro">
        <div class="container">
            <div class="row" id="account-pro-reviews">
                <div class="col-xs-12">
                    <h2 class="text-center">Les Avis</h2>
                </div>
            </div>
            <div class="col-xs-12">
                <h3 class="text-center">Avis réparation</h3>
            </div>
            {% for review in data %}
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 review">
                    <h4>L'avis</h4>
                    <p class="text-justify">{{ review.review }}</p>
                    <small>{{ review.user.lastName }} {{ review.user.firstName }}, {{ review.dateReview|date('d-m-y') }}</small>
                    <br><br><br>
                    {% if review.answer is null %}
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary center-block modify-pro-review">Répondre</button>
                        </div>
                    {% else %}
                        <h4>La réponse</h4>
                        <p>{{ review.answer.message }}</p>
                        <small>{{ review.answer.date|date('d-m-y') }}</small>
                        <hr>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="col-xs-12">
                <h3 class="text-center">Avis réparation</h3>
            </div>
            {% for review in beta %}
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 review">
                    <h4>L'avis</h4>
                    <p class="text-justify">{{ review.review }}</p>
                    <small>{{ review.user.lastname }} {{ review.user.firstname }}
                        , {{ review.dateReview|date('d-m-y') }}</small>
                    <br><br><br>
                    {% if review.answer is null %}
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary center-block modify-pro-review">
                                Répondre
                            </button>
                        </div>

                    {% else %}
                        <h4>La réponse</h4>
                        <p>{{ review.answer.message }}</p>
                        <small>{{ review.answer.date|date('d-m-y') }}</small>
                        <hr>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
