{% extends '@Caradvisor/Admin/index.html.twig' %}
{% block body %}
    <section class="listRepair">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 ">
            <div class="col-xs-10 col-xs-offset-1">
                <h1 class="text-center">
                    <a href="{{ path('dashboard') }}" class="pull-left">
                        <i class="icon-back fa fa-chevron-left fa-1x" aria-hidden="true"></i>
                    </a>
                    Liste des avis achat
                </h1>
                <hr class="text-center">
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    {% for review in reviewsBuy %}
                        <h4> Avis achat {{ review.reviewBuyType }} </h4>
                        <small>déposé par {{ review.user.firstName }} {{ review.user.lastName }}
                            , {{ review.user.userName }} le {{ review.dateReview | date('d-m-y') }}</small><br><br>
                        <p>{{ review.review }}</p>
                        <br>
                        <br>
                        <a href="{{ path('activate_review_buy', {'reviewBuy': review.id}) }}">
                            <button class="btn btn-block center-block btn-admin" type="button">Activer</button>
                        </a>
                        <a href="{{ path('detail_review_buy', {'reviewBuy': review.id}) }}">
                            <button class="btn btn-block center-block btn-admin" type="button">Detail avis</button>
                        </a>
                        <hr>
                    {% endfor %}
                </div>
                <div class="col-xs-10 col-xs-offset-1 text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pager">
                            {% if pagination.page > 1 %}
                                <li>
                                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': 1})) }}">Première
                                        page</a>
                                </li>
                                <li>
                                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page-1})) }}">Précédente</a>
                                </li>
                            {% endif %}
                            {% for p in range(max(pagination.page - 4, 1), min(pagination.page+4, pagination.pages_count)) %}
                                <li>
                                    <a{% if p == pagination.page %} class="current-page" {% endif %}
                                            href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            {% if pagination.page < pagination.pages_count %}
                                <li>
                                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}">Suivante</a>
                                </li>
                                <li>
                                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}">Dernière
                                        page</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
