{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}
    <section id="contactPage">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Contactez-nous</h1>
                <hr>
                <div class="col-xs-10 col-xs-offset-1">
                    <h4 class="contactWelcomePhrase"> Vous avez des questions, des suggestions ou des demandes? Envoyez-nous un message!</h4>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-5 offset-md-3">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.lastname) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.subject) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.submit, {'label':'submit'}) }}

                    {{ form_end(form) }}

                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="formContactDivAddress">
                        <h4> CarAdvisor </h4>
                        <address>
                            Siège social
                            <br> C.A.
                            <br>
                            11, Avenue XYW
                            <br>69800 LYON</address>
                        <br>
                        <p>Tel: 01.02.03.04.05</p>
                        <p>E-mail: <a href="mailto:contact@caradvisor.com">contact@caradvisor.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}