{% block body %}
{% if app.request.get('page') == "index" and app.request.get('page') == "" %}
<li>
    <a class="page-scroll js-scrollTo" id="menu-review" href="{{ path ('home') }}" >Accueil</a>
</li>
{% endif %}
{% if app.request.get('page') == "index" or app.request.get('page') == "" %}
    <li>
        <a class="page-scroll js-scrollTo" id="menu-review" href="{{ path ('home') }}#review">Déposez un avis</a>
    </li>
{% endif %}
{% if app.request.get('page') == "index" or app.request.get('page') == "" or app.request.get('page') == "results" or app.request.get('page') == "info" %}
    <li>
        <a class="page-scroll js-scrollTo" href="{{ path ('signup') }}">Déposez un avis</a>
    </li>
{% endif %}
{% if app.request.get('page') == "index" or app.request.get('page') == "" or app.request.get('page') == "results" or app.request.get('page') == "info" %}
    <li>
        <a class="page-scroll js-scrollTo" href="{{ path ('signup') }}">Inscription</a>
    </li>
{% endif %}
{% if app.request.get('page') == "index" or app.request.get('page') == "signup" or app.request.get('page') == "" or app.request.get('page') == "info" or app.request.get('page') == "results" %}
    <li>
        <a class="page-scroll js-scrollTo" href="{{ path ('home') }}#login-modal">Connexion</a>
    </li>
{% endif %}
{% if app.request.get('page') == "account-reviews" or app.request.get('page') == "account-cars" %}
    <li>
        <a class="page-scroll js-scrollTo" href="{{ path ('user') }}">Bienvenue {{ user.firstname }}</a>
    </li>
{% endif %}
{% include %}
{% include %}
{% endblock %}
