{% extends '@Caradvisor/index.html.twig' %}

{% block body %}

    <section id="signup">
        <div class="container">
            <div class="row">
                <div class="bloc">
                    <div class="col-xs-10 col-xs-offset-1 col-md-5">
                        <h2 class="text-center">Connexion</h2>
                        <hr>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form method="post">
                            <div class="form-group">
                                <label for="username"></label>
                                <input class="form-control" type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}" />
                            </div>
                            <div class="form-group">
                                <label for="password"></label>
                                <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" />
                            </div>
                            <div class="text-center">
                                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                <label for="remember_me">Se souvenir de moi</label>
                            </div>
                            <div>
                                <p class="pass_link text-center">Vos avez oublié votre mot de passe? Cliquez <a href="{{ asset(path('forgotten')) }}">ici</a>.</p>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-primary btn-block center-block btn-red" type="submit">Connexion</button>
                        </form>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
                        <h2 class="text-center">Pas encore inscrit(e) ?</h2>
                        <hr>
                        <h4 class="text-center">Rejoignez la communauté <br/><strong>Car<span>advisor</span></strong><br/> pour déposer votre avis ou ajouter un établissement <br/>(compte professionnel uniquement)<br/></h4>
                        <a href="{{ path('user_signup')}}">
                            <button class="btn btn-primary btn-block center-block btn-red">Cliquez ici</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}