{% extends ('@Caradvisor/index.html.twig') %}
{% block body %}

    <section id="signup">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 bloc">
                    <h2 class="text-center">Inscription</h2>
                    <!-- Back to previous page -->
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2 col-md-6 col-md-offset-2">
                            <a href="{{ path('user_signup') }}">
                                <i class="icon-back fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 breadcrumb-pagination">
                        <div class="col-xs-6 completed">
                            <span></span>
                            <p>Profil</p>
                        </div>

                        <div class="col-xs-6 active">
                            <span>2</span>
                            {% if (app.session.get('role') == ['ROLE_PART']) %}
                            <p>Vehicule</p>
                            {% endif %}
                            {% if (app.session.get('role') == ['ROLE_PRO']) %}
                            <p>Etablissement</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if (app.session.get('role') == ['ROLE_PART']) %}
                        <h3 class="text-center">Ajouter votre véhicule</h3>
                        <hr>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.brand) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.model) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.version) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.kilometers) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_row(form.registration) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_row(form.year) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_row(form.energy) }}
                        </div>
                        <div class="row">
                            <div id="inscrition-text-footer" class="col-xs-12 col-sm-12 text-justify">
                                En cliquant sur  <strong>Inscription</strong>, vous acceptez les <a href="{{ path('cgu') }}" target="_blank">Conditions d'utilisation</a> en vigueur sur ce site, y compris notre politique sur les cookies.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button name="inscription" class="btn btn-primary btn-block center-block btn-red" type="submit">Inscription</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% elseif (app.session.get('role') == ['ROLE_PRO']) %}
                        <h3 class="text-center">Ajouter votre établissement</h3>
                        <hr>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.dealerName) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.dealertype) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.siret) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_row(form.address) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.postalCode) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.phone) }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{ form_row(form.brand) }}
                        </div>
                        <div class="col-xs-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="row">
                            <div id="inscrition-text-footer" class="col-xs-12 col-sm-12 text-justify">
                                En cliquant sur  <strong>Inscription</strong>, vous acceptez les <a href="{{ path('cgu') }}" target="_blank">Conditions d'utilisation</a> en vigueur sur ce site, y compris notre politique sur les cookies.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button name="inscription" class="btn btn-primary btn-block center-block btn-red" type="submit">Inscription</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
